{% extends 'base.html' %}
{% load static %}
{% block title %}
ABOUT PAGE
{% endblock title %}

{% block style %}
<style>
    .about-text{
        margin-bottom: -100px;
    }
     @media screen and (max-width: 768px) {
         .about-text{
            margin-bottom: -40px;
        }
     }
</style>
{% endblock style %}

{% block content %}


<div class="abt" style="color:#B54626">
    <div>
        <img src="{% static 'images/logo1.jpg' %}" style="height:150px;width:150px;" class="img-responsive rounded-circle" alt="about">
        <h2 class="text-white about-text">Pabbajja Technologies Private Limited.</h2>
        <span style="font-size:18px;">
            <a class="text-white"href="tel:+916204227594">&#128222; 6204227594</a>
            <a class="text-white"href="mailto:admin@pabbajjacnc.com"><i class="fa fa-envelope" aria-hidden="true"></i> admin@pabbajjacnc.com</a>
        </span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 panel-1">
            <h2 class="panel-text">Mission</h2>
            <p class="vision-text"> 
                Our mission is to provide efficient quality engineering product and services with advanced technology to our customers in affordable price.
                We strive to grow our business with the same honesty and integrity. We use to design our products with sustainability and great features for all.
                We are committed to provide our customers with the best quality products and services.
            </p>
        </div>
        <div class="col-md-6 panel-2">
            <h2 class="panel-text">Vision</h2>
            <p class="vision-text">
                Be recognized as a preminent engraving and carving CNC machinery and robotic arm manufacturer that fully engages,
                Our people passionatly embraces new ideas, seeks out revolutionaries technologies available at affordable price to our customers. 
            </p>
        </div>
    </div>
</div>

<div class="container company-details">
    <h3 class="table-top1">Basic information</h3>
    <table>
        <tr>
            <td>Nature of Business</td>
            <td>Manufacturer and Supplier</td>
        </tr>
        <tr>
            <td>Additonal Business</td>
            <td>
                <ul>
                    <li>Supplier</li>
                    <li>service Provider</li>
                    <li>Whole Seller</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Company CEO</td>
            <td>Pankaj Kumar</td>

        </tr>
        <tr>
            <td>Registered address</td>
            <td>PL.143,KH 147,Vill-Majhgain,
                <br/>Block-Chand,Bhabua,<br/>Kaimur,Bihar,India.
            </td>
        </tr>
        <tr>
            <td>Year of Establishment</td>
            <td> December 2021</td>
        </tr>
        <tr>
            <td>Legal Status of Firm</td>
            <td>Private Limited.</td>
        </tr>
    </table>
    <h3 class="table-top">Trade & Market</h3>
    <table>
        <tr>
            <td>Nature of Business</td>
            <td>Manufacturer and Supplier</td>
        </tr>
    </table>
    <h3 class="table-top">Infrastructure</h3>
    <table>
        <tr>
            <td>Location Type</td>
            <td>Semi-urban</td>
        </tr>
        <tr>
            <td>Building Infrastructure</td>
            <td>Permanent</td>
        </tr>
        <tr>
            <td>Size of premises</td>
            <td>9000 square feet</td>
        </tr>
    </table>
    <h3 class="table-top">Company USP</h3>
    <table>
        <tr>
            <td>Primary Competitive Advantage</td>
            <td>
                <ul>
                    <li>Experienced R & D Department </li>
                    <li>Good Financial Position & TQM</li>
                    <li>Large Product Line</li>
                    <li>Large Production Capacity</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Quality Measures / Testing Facilities</td>
            <td>Yes</td>
        </tr>
    </table>

    <h3 class="table-top">Statutory Profile</h3>

    <table>
        <tr>
            <td>Banker</td>
            <td>
                <ul>
                    <li>BANK OF BARODA</li>
                </ul>
            </td>
        </tr>
    </table>
    <h3 class="table-top">Packaging/Payment and Shipment Details</h3>
    <table>
        <tr>
            <td>Customized Packaging</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Payment Mode</td>
            <td>
                <ul>
                    <li>RTGS</li>
                    <li>IMPS</li>
                    <li>DEMAND DRAFT</li>
                    <li>NEFT TRANSFER</li>
                    <li>CASH / CHEQUE</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Shipment Mode</td>
            <td>
                <ul>
                    <li>By Road</li>
                    <li>By Cargo</li>
                </ul>
            </td>
        </tr>
    </table>
</div>

{% endblock content %}