{% extends 'base.html' %}
{% load static %}

{% block content %}



<img src="{% static 'images/about.jpg' %}" alt="" class="img1 image-fluid" id="image">

<div class="abt" style="color:#B54626">About Us</div>



<div class="float-container panel-1">
    <div class="left-panel">
        Mission
    </div>
    <div class="container mission-text">
        <p style="color: rgb(245, 236, 219);"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eligendi veritatis accusamus quae
            sed.
            Facilis laudantium ipsam reiciendis aut maiores reprehenderit deserunt voluptatem eum, tempore ratione
            sapiente architecto fuga. Sint quam debitis voluptates vel cum perferendis amet saepe beatae officiis
            recusandae, delectus temporibus ex in, magnam nulla dignissimos cumque sed impedit. Cum dignissimos
            asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eligendi reiciendis dicta a
            incidunt quod eveniet porro non blanditiis, ullam excepturi magni, nostrum pariatur! Odio quaerat
            repellendus sapiente fuga doloremque debitis magni ratione blanditiis ipsam sint praesentium voluptas
            eligendi dolorem consectetur, voluptatem cupiditate consequuntur numquam fugiat architecto similique
            consequatur dolores magnam. Aspernatur dicta quibusdam quaerat!</p>
    </div>
</div>

<div class="float-container panel-2">
    <div class="right-panel">
        <span> Vision</span>
    </div>
    <div class="container vision-text">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eligendi veritatis accusamus quae
            sed.
            Facilis laudantium ipsam reiciendis aut maiores reprehenderit deserunt voluptatem eum, tempore ratione
            sapiente architecto fuga. Sint quam debitis voluptates vel cum perferendis amet saepe beatae officiis
            recusandae, delectus temporibus ex in, magnam nulla dignissimos cumque sed impedit. Cum dignissimos
            asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eligendi reiciendis dicta a
            incidunt quod eveniet porro non blanditiis, ullam excepturi magni, nostrum pariatur! Odio quaerat
            repellendus sapiente fuga doloremque debitis magni ratione blanditiis ipsam sint praesentium voluptas
            eligendi dolorem consectetur, voluptatem cupiditate consequuntur numquam fugiat architecto similique
            consequatur dolores magnam. Aspernatur dicta quibusdam quaerat!</p>
    </div>





</div>


<div class="container company-details" style="padding: 10px;">

    <h3 class="table-top1">Basic information</h3>
    <table>

        <tr>
            <td>Nature of Business</td>
            <td>Manufacturer and Supplier</td>

        </tr>
        <tr>
            <td>Additonal Business</td>
            <td>
                <ul>
                    <li>Supplier</li>
                    <li>service Provider</li>
                    <li>Whole Seller</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Company CEO</td>
            <td>Pankaj Kumar</td>

        </tr>
        <tr>
            <td>Registered address</td>
            <td>PL.143,KH 147,Vill-Majhgain,Tola-
                Majhgain,Panch-Goin,Block-Chand,Bhabua,Kaimur,Bihar,India.

            </td>

        </tr>
        <tr>
            <td>Year of Establishment</td>
            <td> December 2021</td>

        </tr>
        <tr>
            <td>Legal Status of Firm</td>
            <td>Private Limited.</td>

        </tr>

    </table>

    <h3 class="table-top">Trade & Market</h3>

    <table>

        <tr>
            <td>Nature of Business</td>
            <td>Manufacturer and Supplier</td>

        </tr>


    </table>

    <h3 class="table-top">Infrastructure</h3>

    <table>

        <tr>
            <td>Nature of Business</td>
            <td>Manufacturer and Supplier</td>

        </tr>
        <tr>
            <td>Nature of Business</td>
            <td>Manufacturer and Supplier</td>

        </tr>
        <tr>
            <td>Nature of Business</td>
            <td>Manufacturer and Supplier</td>

        </tr>


    </table>

    <h3 class="table-top">Company USP</h3>

    <table>

        <tr>
            <td>Primary Competitive Advantage</td>
            <td>
                <ul>
                    <li>Experienced R & D Department </li>
                    <li>Good Financial Position & TQM</li>
                    <li>Large Product Line</li>
                    <li>Large Production Capacity</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Quality Measures / Testing Facilities</td>
            <td>Yes</td>

        </tr>


    </table>

    <h3 class="table-top">Statutory Profile</h3>

    <table>

        <tr>
            <td>Banker</td>
            <td>
                <ul>
                    <li>ABC BANK</li>
                    <li>XYZW BANK</li>

                </ul>
            </td>
        </tr>

    </table>


    <h3 class="table-top">Packaging/Payment and Shipment Details</h3>

    <table>

        <tr>
            <td>Customized Packaging</td>
            <td>Yes</td>

        </tr>

        <tr>
            <td>Payment Mode</td>
            <td>
                <ul>
                    <li>Cash</li>
                    <li>Cheque</li>
                    <li>DD</li>
                    <li>Online</li>
                    <li>Bank Transfer</li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>Shipment Mode</td>
            <td>
                <ul>
                    <li>By Road</li>

                </ul>
            </td>
        </tr>



    </table>

</div>



{% endblock content %}
