{% extends 'base.html' %}

{% block title %}
CAREERS PAGE
{% endblock title %}

{% block content %}

<section id="career" style="height:80vh;background-color:#f2d7dc;">
    <div class="container" style="padding-top:30px;">
        <div class="row">
            <div class="col-md-6">
                <h2 style="color:#fff">Build your career <br/> with us!</h2>
                <p style="color:#fff; font-size:18px;" class="">
                    PABBAJJA TECHNOLOGIES PVT. LTD. is an emerging company in the field of Robotics and CNC machine manufacturing and we're looking for talented people to join our team. We can find a position that best fits your skills and experience , whether you're searching for a new Job or are interested in continuing your career.

We are committed to elevating the lives of our customers & employees by providing great services with quality products and look for this type of dedication from all our team members. If this sound like you , then come and join the Pabbajja Technologies Pvt. Ltd.
                    
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container" style="padding-top:30px;">
        <div class="row">
            <h2 style="text-align: center">Ready to join our team?</h2>
            <div class="mb-5">
                <ul class=" nav nav-pills mt-5 mb-5 d-flex justify-content-center" id="pills-tab" role="tablist">
                    <li  style="background-color:#000123; color:#872034;" class="nav-item m-3" role="presentation">
                        <button class="main-btn nav-link active" id="pills-jobs-tab" data-bs-toggle="pill" data-bs-target="#pills-jobs" type="button" role="tab" aria-controls="pills-jobs" aria-selected="true">Jobs</button>
                    </li>
                    <li style="background-color:#000123; color:#872034;" class="nav-item m-3" role="presentation">
                        <button class="main-btn nav-link" id="pills-internship-tab" data-bs-toggle="pill" data-bs-target="#pills-internship" type="button" role="tab" aria-controls="pills-internship" aria-selected="false">Internships</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-jobs" role="tabpanel" aria-labelledby="pills-jobs-tab">
                        {% for job in careers %}
                            {% if job.internship == False %}
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <a href="{% url 'career-detail' job.id %}"><img src="{{ job.image_url }}" style="height:170px;" class="card-img" alt="{{ job.designation|title }}"></a>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <a href="{% url 'career-detail' job.id %}"><h5 class="card-title">{{ job.designation|title }}</h5></a>
                                                <p class="card-text">{{ job.job_description|truncatechars_html:70|safe }}</p>
                                                <p class="card-text"><small class="text-muted">{{ job.job_location }}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-internship" role="tabpanel" aria-labelledby="pills-internship-tab">
                        {% for job in careers %}
                            {% if job.internship == True %}
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="{{ job.image_url }}" style="height:170px;" class="card-img" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <a href="{% url 'career-detail' job.id %}"><h5 class="card-title">{{ job.designation|title }}</h5></a>
                                                <p class="card-text">{{ job.job_description|truncatechars_html:70|safe }}</p>
                                                <p class="card-text"><small class="text-muted">{{ job.job_location }}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% comment %} style="display:inline-block; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; max-width: 13ch;" {% endcomment %}