{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- <section id="faq-id">
    <div class="contianer faq-container">
        <div class="faq">
            <div class="faq-item" id="question1">
                <a class="faq-link" href="#question1">
                    Lorem, ipsum dolor.?

                    <ion-icon name="add-outline" class="ion-md-add"></ion-icon>
                    <ion-icon name="remove-outline" class="ion-md-remove"></ion-icon>
                </a>

                <div class="answer">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga recusandae
                        impedit voluptatibus dolorem quod doloremque aut. Beatae voluptas aliquid Lorem ipsum dolor,
                        sit
                        amet consectetur adipisicing elit. Debitis iure alias error nam perspiciatis. Adipisci quia
                        sed
                        praesentium doloremque Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
                        vel a
                        quo velit quod quas quasi atque, dignissimos similique adipisci.</p>
                </div>
            </div>

            <div class="faq-item" id="question2">
                <a class="faq-link" href="#question2">
                    Lorem ipsum dolor sit.?
                    <ion-icon name="add-outline" class="ion-md-add"></ion-icon>
                    <ion-icon name="remove-outline" class="ion-md-remove"></ion-icon>
                </a>
                <div class="answer">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga recusandae
                        impedit voluptatibus dolorem quod doloremque aut. Beatae voluptas aliquid Lorem ipsum dolor,
                        sit
                        amet consectetur adipisicing elit. Debitis iure alias error nam perspiciatis. Adipisci quia
                        sed
                        praesentium doloremque Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
                        vel a
                        quo velit quod quas quasi atque, dignissimos similique adipisci.</p>
                </div>
            </div>

            <div class="faq-item" id="question3">
                <a class="faq-link" href="#question3">
                    Lorem ipsum dolor sit amet.?
                    <ion-icon name="add-outline" class="ion-md-add"></ion-icon>
                    <ion-icon name="remove-outline" class="ion-md-remove"></ion-icon>
                </a>
                <div class="answer">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga recusandae
                        impedit voluptatibus dolorem quod doloremque aut. Beatae voluptas aliquid Lorem ipsum dolor,
                        sit
                        amet consectetur adipisicing elit. Debitis iure alias error nam perspiciatis. Adipisci quia
                        sed
                        praesentium doloremque Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
                        vel a
                        quo velit quod quas quasi atque, dignissimos similique adipisci.</p>
                </div>
            </div>

            <div class="faq-item" id="question4">
                <a class="faq-link" href="#question4">
                    Lorem ipsum dolor sit amet consectetur.?
                    <ion-icon name="add-outline" class="ion-md-add"></ion-icon>
                    <ion-icon name="remove-outline" class="ion-md-remove"></ion-icon>
                </a>
                <div class="answer">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga recusandae
                        impedit voluptatibus dolorem quod doloremque aut. Beatae voluptas aliquid Lorem ipsum dolor,
                        sit
                        amet consectetur adipisicing elit. Debitis iure alias error nam perspiciatis. Adipisci quia
                        sed
                        praesentium doloremque Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
                        vel a
                        quo velit quod quas quasi atque, dignissimos similique adipisci.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="container" style="padding-top: 10rem;">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}