{% extends 'base.html' %} 
{% load static %}
{% block content %}

<section style="padding-top:170px; padding-bottom:100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ object.image1.url }}" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ object.image2.url }}" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ object.image3.url }}" />
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-md-6">
                <h2> {{object.title}} </h2>
                <div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Item Details</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Item Name</td>
                            <td>{{object.title}}</td>
                        </tr>
                        <tr>
                        <td>Model Number</td>
                            <td>{{object.model_number}}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>{{object.price}} </td>
                        </tr>
                        <tr>
                            <td>Availability</td>
                            {% if object.availability == True %}
                                <td class="mb-0 text-success">Available</td>
                            {% else %}
                                <td class="mb-0 text-danger">Not available</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Weight</td>
                            <td>{{object.weight}} </td>
                        </tr>
                        <tr>
                            <td>Automatic</td>
                            {% if object.automatic == True %}
                                <td class="mb-0 text-success">Yes</td>
                            {% else %}
                                <td class="mb-0 text-danger">No</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>PLC Control</td>
                            {% if object.plc_control == True %}
                                <td class="mb-0 text-success">Yes</td>
                            {% else %}
                                <td class="mb-0 text-danger">No</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Computerized</td>
                            {% if object.computerized == True %}
                                <td class="mb-0 text-success">Yes</td>
                            {% else %}
                                <td class="mb-0 text-danger">No</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Supply Ability</td>
                            {% if object.supply_ability == True %}
                                <td class="mb-0 text-success">Yes</td>
                            {% else %}
                                <td class="mb-0 text-danger">No</td>
                            {% endif %}
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <h2 class="mt-5 mb-3">Detailed Specification</h2>
            <div class="">
                <p class="article-content">{{ object.detail|safe }}</p>
            </div>
        </div>
    </div>
</section>

<script>
    $(".vertical").carousel({
        vertical: true
    });
</script>


{% endblock %}