@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* Variable Define */

:root {
  --primary-color: #a82c48;
  --secondary-color: #43121d;
  --third-color: #f98169;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --balck-color: #000;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-color);
  font-size: 100%;
  font-weight: 400;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 0.625em;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* own css */
h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: var(--secondary-color);
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  line-height: 3rem;
}

h4 {
  font-weight: 800;
  font-size: 18px;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}
h5 {
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}

.main-btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  background-color: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
  color: var(--white-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 10px 2px -1px rgb(0 0 0 /19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.white-btn {
  padding: 0.625rem 1.875rem;
  line-height: 25px;
  background-color: var(--white-color);
  border: 0.1875rem solid var(--white-color);
  color: var(--text-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 10px 2px -1px rgb(0 0 0 /19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.white-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.wrapper {
  padding-top: 8.25rem;
  padding-bottom: 8.25rem;
}
.text-content {
  width: 70%;
  margin: auto;
}

.counter-section h2,
.review-section h2,
.random-text h2 {
  color: var(--white-color);
}

/* header design */

.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  background-color: var(--white-color);
  /* -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; */
}
.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  /* transition: all 200ms linear; */
}

.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}

.nav-link {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
  letter-spacing: 1px;
}
.navigation-wrap .main-btn {
  padding: 0.3125rem 1.4375rem;
  box-shadow: none;
  margin-left: 0.625rem;
}

/* change navbar stylling on scroll */

/* .navigation-wrap.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.09);
  transition: all 0.15s ease-in-out 0s;
} */

#navbar-inside {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration-color: var(--primary-color);
  letter-spacing: 1px;
}

/* top banner design */

/* .top-banner {
  width: 100%;
  background: url("../images/bg/bg-2.jpeg") no-repeat center;
  background-size: cover;
   padding: 16.875rem 0 9.375rem;
} */

/* aboout section */

.about-section {
  background: var(--white-color);
}

.about-section .card,
.about-section .card img {
  border-radius: 0.625rem;
}
.about-section .text-sec {
  padding-left: 2rem;
}
/* about sec part 2 css */
.cnc-type {
  padding-top: 3.25rem;
}
.cnc-type ul li {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 32px;
  position: relative;
  margin-left: 30px;
}

.cnc-type ul li::before {
  position: absolute;
  left: -2.1875rem;
  color: var(--primary-color);
  font-size: 1.25rem;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

/* about sec part3 */

.section-3 {
  width: 100%;
  height: 28.125rem;
  background: url("../images/bg/bgsec3.jpeg") no-repeat center;
  background-size: cover;
  padding-top: 100px;
  text-align: center;
}
.section-3 h2 {
  color: var(--primary-color);
}

/* our product css */
/* yaha pe css*/

/* review section */
.review-section {
  background-color: gray;
  margin-top: 4rem;
}
.review-section .carousel-item {
  margin-top: 3rem;
  padding: 10rem 3.125rem;
  background-color: var(--white-color);
  border-radius: 0.9375rem;
  text-align: center;
}
.review-section .carousel-caption img {
  max-width: 5rem;
  border-radius: 50%;
  padding: 0.3125rem;
}

.review-section .carousel-item .carousel-caption p {
  font-size: 1.3125rem;
  line-height: 2.0625rem;
  padding: 0 11% 0.625rem;
}
.review-section .carousel-indicators {
  bottom: -2.8125rem;
}
.review-section .carousel-indicators button {
  width: 15px;
  height: 15px;
  outline: none;
  border-radius: 50%;
  border: none;
  margin-right: 1rem;
  opacity: 0.2;
}
.review-section .carousel-indicators button.active {
  opacity: 1;
}

.fixed {
  position: fixed;
}
