@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,400&display=swap");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* Variable Define */

:root {
  --primary-color: #13376d;
  --secondary-color: #021634;
  --third-color: #375d96;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --balck-color: #000;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-color);
  font-size: 100%;
  font-weight: 400;
  overflow-x: hidden;
}

/* own css */
h1 {
  font-weight: 600;
  font-size: 1.75rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  line-height: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 1.75rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  line-height: 2rem;
}

h4 {
  font-weight: 800;
  font-size: 18px;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}
h5 {
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 1px;
}



.main-btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  background-color: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
  color: var(--white-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 10px 2px -1px rgb(0 0 0 /19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.white-btn {
  padding: 0.625rem 1.875rem;
  line-height: 25px;
  background-color: var(--white-color);
  border: 0.1875rem solid var(--white-color);
  color: var(--text-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 10px 2px -1px rgb(0 0 0 /19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.white-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.wrapper {
  padding-top: 3.25rem;
  padding-bottom: 8.25rem;
}
.text-content {
  width: 70%;
  margin: auto;
}

.counter-section h2,
.review-section h2,
.random-text h2 {
  color: var(--white-color);
}

/* header design */

.navigation-wrap {
  width: 100%;
  left: 0;
  z-index: 1000;
  background-color: #4071bc;
}
.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  /* transition: all 200ms linear; */
}

.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}

.nav-link {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1px;
}
.navigation-wrap .main-btn {
  padding: 0.3125rem 1.4375rem;
  box-shadow: none;
  margin-left: 0.625rem;
}


#navbar-inside {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  text-decoration-color: var(--secondary-color);
  letter-spacing: 2px;
}

@media screen and (max-width: 425px) {
  #navbar-inside{
    font-size: 1.15rem;
  }
}


/* top banner design */

/* .top-banner {
  width: 100%;
  background: url("../images/bg/bg-2.e9de74e8d246.jpeg") no-repeat center;
  background-size: cover;
   padding: 16.875rem 0 9.375rem;
} */

/* aboout section */

.about-section {
  background: var(--white-color);
}

.about-section .card,
.about-section .card img {
  border-radius: 0.625rem;
}
.about-section .text-sec {
  padding-left: 2rem;
}
/* about sec part 2 css */
.cnc-type {
  padding-top: 3.25rem;
}
.cnc-type ul li {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 32px;
  position: relative;
  margin-left: 30px;
}

.cnc-type ul li::before {
  position: absolute;
  left: -2.1875rem;
  color: var(--primary-color);
  font-size: 1.25rem;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

/* about sec part3 */

.section-3 {
  width: 100%;
  height: 28.125rem;
  background: url("../images/bg/bgsec3.2e6bfd567b5a.jpeg") no-repeat center;
  padding-top: 100px;
  text-align: center;
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover;
}

.section-3 h2 {
  color: white;
}

/* our product css */
/* yaha pe css*/

/* review section */

#review {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/review.429f11fee593.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  backdrop-filter: opacity(70%);
}

.review-section .carousel-item {
  margin-top: 1rem;
  padding: 7rem 3.125rem;
  background-color: transparent;
  border-radius: 0.9375rem;
  text-align: center;
}
.review-section .carousel-caption img {
  max-width: 5rem;
  border-radius: 50%;
  padding: 0.3125rem;
}

.review-section .carousel-item .carousel-caption p {
  font-size: 1.3125rem;
  line-height: 2.0625rem;
  color: #fff;
  padding: 0 11% 0.625rem;
}

.review-section .carousel-indicators {
  bottom: -2.8125rem;
}

.review-section .carousel-indicators button {
  width: 15px;
  height: 15px;
  outline: none;
  border-radius: 50%;
  border: none;
  margin-right: 1rem;
  opacity: 0.2;
}

.review-section .carousel-indicators button.active {
  opacity: 1;
}

.swiper-slide img {
  width: 100%;
  height: 30rem;
}

th,
td {
  padding: 0.75em;
}
th {
  background: linear-gradient(#0c2244, #224272);
  color: #fff;
}
th:first-child {
  border-radius: 9px 0 0 0;
}
th:last-child {
  border-radius: 0 9px 0 0;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 9px;
}
tr:last-child td:last-child {
  border-radius: 0 0 9px 0;
}

#career {
  width: 100%;
  height: 28.125rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/career.97c6b26ec0b9.jpg") no-repeat center;
  background-size: cover;
  padding-top: 100px;
  color: #fff;
  text-align: center;
  backdrop-filter: opacity(70%);
}
